$color-primary: rgb(53, 14, 14);
$color-secondary: rgb(124, 32, 32);
$color-tiertiary: rgb(194, 50, 50);
$color-light: rgb(247, 247, 247);

$font-primary: 'Bitter',
serif;
$font-secondary: 'Yanone Kaffeesatz',
sans-serif;