@use '../../styles/variables'as vars;

.header {
    background-color: vars.$color-secondary;
    padding: 2.5rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        color: white;
        font-size: 2.8rem;
    }

    &__button {
        padding: 1.2rem 4rem;
        border: 0;
        border-radius: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        font-family: vars.$font-secondary;
        font-size: 1.8rem;
        text-transform: uppercase;

        .badge {
            font-family: vars.$font-primary;
            font-weight: 600;
            font-size: 2.3rem;
            color: vars.$color-tiertiary;
        }

        .svg {
            font-size: 2.5rem;
            color: vars.$color-tiertiary;

            &:hover {
                cursor: pointer;
            }
        }

        .title {
            letter-spacing: 1px;
            font-size: 2.2rem;
            transform: translateY(2px);
        }
    }

    &__img {
        width: 100%;
        height: 30vh;
        display: block;
        background-image: linear-gradient(to right, rgba(vars.$color-primary, .1), rgba(rgb(77, 40, 0), .1)), url(../../assets/meals.jpg);
        background-size: cover;
        background-position: center;
    }
}